@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes approachAngle {
  0% {
    transform: translateZ(-300px) translate(-50%, -50%) rotateX(15deg);
  }
  20% {
    transform: translateZ(-200px) translate(-50%, -50%) rotateX(15deg);
  }
  100% {
    transform: translateZ(0px) translate(-50%, -50%) rotateX(15deg);
  }
}

.animate-approachAngle {
  animation: approachAngle 1s linear forwards;
}

.menu {
  top: 0;
  right: 40px;
}